<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginHistMapper">

    <!-- 기준정보 > 로그인이력 (base_login_hist) -->

    <select id="selectList" parameterType="map" resultType="com.mes.domain.base.LoginHist">
        SELECT history_id, login_id, user_name, login_ip, success_yn, fail_reason, login_dt
        FROM base_login_hist
        <where>
            <if test="keyword != null and keyword != ''">
                AND (login_id LIKE CONCAT('%', #{keyword}, '%')
                     OR user_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY login_dt DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*)
        FROM base_login_hist
        <where>
            <if test="keyword != null and keyword != ''">
                AND (login_id LIKE CONCAT('%', #{keyword}, '%')
                     OR user_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.mes.domain.base.LoginHist" useGeneratedKeys="true" keyProperty="historyId">
        INSERT INTO base_login_hist (login_id, user_name, login_ip, success_yn, fail_reason, login_dt)
        VALUES (#{loginId}, #{userName}, #{loginIp}, #{successYn}, #{failReason}, NOW())
    </insert>

</mapper>
