<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OilAnalysisMapper">

    <!-- 조건관리 > 열처리유성상분석 (condition_oil_analysis) -->

    <select id="selectList" parameterType="map" resultType="com.mes.domain.condition.OilAnalysis">
        SELECT id, use_yn, reg_dt, upd_dt
        FROM condition_oil_analysis
        <where>
            <if test="keyword != null and keyword != ''">
                AND id LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*)
        FROM condition_oil_analysis
        <where>
            <if test="keyword != null and keyword != ''">
                AND id LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

</mapper>
